.navbar {
  width: 90%;
  display: flex;
  margin: 20px auto 0 auto;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu a {
  color: #2c3e50;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.menu a:hover {
  color: #000;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url(Images/background.png);
  font-family: 'Lilita One', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}



#wrapper {
  height: 80vh;
  display: flex;
  border-radius: 10px;
  border: 3px solid black;
  padding: 20px 50px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#wrapper i {
  font-size: 25px;
  pointer-events: none;
}

#image-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0px 30px;
}

#image-carousel {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 100px;
  position: relative;
  justify-content: center; 
  align-items: center; 
}

#image-carousel img {
  height: 100%;
  width: auto; 
  max-width: 100%; 
  object-fit: cover;
  border-radius: 25px;
  position: absolute;
  transition: 1s;
  padding: 0px 15px;
  margin: 0 auto; 
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}